.our-clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .our-clients__team {
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    color: var(--secondary-color);
    margin-top: 0;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  
  .our-clients-permanent {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
  .our-clients-permanent__client {
    content: '';
    fill: #afb1b8;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 5px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .our-clients-permanent__client:hover,
  .our-clients-permanent__client:focus {
    fill: var(--akcent-color);
    border-color: var(--akcent-color);
  }